* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
/* Navigation bar */
header {
  display: flex;
  justify-content: space-between;
  margin: 12px 5px;
  align-items: center;
}

.navlist {
  display: flex;
}
.navlist li {
  list-style: none;
  margin: 0 1rem;
}
.navlist li a {
  color: black;
  text-decoration: none;
}
.navlist li a:hover {
  text-decoration: underline;
  color: gray;
}

.navbtn {
  display: flex;
}
.btn {
  padding: 6px 10px;
  margin: 0 5px;
  background-color: #9f069feb;
  color: white;
  font-weight: 670;
  border-radius: 5px;
}
.btn:hover {
  background-color: #fff;
  color: #9f069feb;
}
.burger {
  display: none;
}
.bar {
  height: 3px;
  width: 30px;
  background-color: black;
  margin: 5px 15px;
}

/* header */
.pagehead {
  display: flex;
  justify-content: space-around;
  margin: 40px 45px;
}

.left p {
  width: 45vw;
  margin: 10px 5px;
  color: #383131f2;
}
.pagehead-btn {
  padding: 8px 9px;
  margin: 15px 0;
  font-weight: 500;
  font-size: 15px;
  color: white;
  background-color: #9a06b9ba;
  border: none;
  border-radius: 5px;
}
.pagehead-btn:hover{
    transform: scale(1.05);
    transition: 0.2s;
}
.heading{
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
}
.content{
    display: flex;
    justify-content: space-evenly;
    background-color: #f6f2f2;
    padding: 20px 0;
}
.section-1{
    background-color: #e1bee791;
    padding: 25px 50px;
    border-radius: 8px;
}
.sell-list li{
    margin: 10px 20px;
    color: #464444;
}
.sale-product{
    background-color: #f0cef691;
    padding: 25px 50px;
    border-radius: 8px;
    box-shadow: 3px 4px 14px 0px #00000057;
}
.section-2{
    display: flex;
    flex-direction: column;
}
.section-2 p:nth-last-child(1){
    width: 40vw;
    text-align: center;
    margin: 60px 4px;
}

@media only screen and (max-width: 600px) {
  .burger {
    position: relative;
    display: block;
    z-index: 10;
  }
  .pagehead {
    flex-direction: column;
  }
  .navlist {
    position: fixed;
    left: 100%;
    flex-direction: column;
    height: 93vh;
    align-items: center;
    margin: -32px 0;
    width: 56%;
    padding: 18px 0;
    background-color: rgba(3, 3, 3, 0.852);
    backdrop-filter: blur(10px);
    transition: 0.3s;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: 200ms;
  }
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: 200ms;
  }
  .navlist.active {
    left: 50%;
  }
  .navlist li {
    margin: 24px 0;
  }
  .navlist li a {
    color: white;
  }
  iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin: 15px 0;
  }
  .left p{
      width: 90vw;
  }
  .btn {
    display: none;
  }
  .content{
      flex-direction: column;
  }
  .pagehead{
      margin: 40px 10px;
  }
  .sale-product{
      margin: 18px 10px;
  }
  .section-1{
      margin: 12px;
  }
  .section-2 p:nth-last-child(1){
    width: 98vw;
    text-align: center;
    margin: 60px 4px;
}
}
